*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
*.csv
**/__pycache__/
.env
Constants.py
config.ini
baseline.pickle
emotions_baseline_2_1.pickle
improved_baseline.pickle
credentials.json
.env.yaml
